.logos-section.text-center
  .container
    %h2.logos-section-title
      GitLab is used by more than 100,000 organizations
    .row
      - data.organizations.each do |organization|
        - if organization.landing
          .col-xs-4.col-sm-4.col-md-3.col-lg-2.organizations-logo
            = image_tag organization.logo, alt: organization.name
    %h3
      = link_to "/customers" do
        Learn how these companies use GitLab
        %span.fa.fa-arrow-right
    %small.organizations-disclaimer
      All logos and trademarks are the property of their respective owners.
