---
layout: default
title: "GitLab Learn"
description: "Welcome to GitLab Learn! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you."
canonical_path: "/learn/"
noindex: true
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
  - learn-video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
  - learn-video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Learn
    %p Welcome to GitLab Learn! It's here to help you learn about DevOps, streamlined software development and delivery, collaborating remotely,  securing your work, and how GitLab can help you to do all of these efficiently. GitLab Learn is organized into learning paths which cover different subjects and are each a collection of relevant videos and self driven demos. Let's get learning!

-# The path content for this page is in https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/learn/paths.yml
-# The asset content for this page is in https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/learn/assets.yml
-# Yes this needs to be re-written to show carousels of paths rather than videos. TBD.

.gitlab-content-container.reverse-content
  -# Carousel for each learning path
  - data.learn.paths.each do |lpath|
    .content{"style" => "margin-top: 50px"}
      %h2.u-margin-bottom-sm.text-center
        = lpath.title
      .learn-video-slider
        - lpath.asset_list.each do |asset_id|
          - data.learn.assets[asset_id] do |asset|
            = partial "includes/components/video-carousel/learn-video-item", locals: {title: asset.title, photourl: asset.thumbnail_file, videolink: asset.asset_link, video_title_size: "h5", asset_type: asset.asset_type}

-# These are the asset modals for viewing the content. Need one of these set up for each carousel that is set up.
- data.learn.paths.each do |lpath|
  - lpath.asset_list.each do |asset_id|
    - data.learn.assets[asset_id] do |asset|
      = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: asset.asset_link, title: asset.title}
