---
layout: default
title: Case studies from GitLab customers
suppress_header: true
description: Customers share how they've been able to shorten the software development lifecycle while using GitLab
extra_css:
  - customers.css
extra_js:
  - customers.js
---

= partial "includes/customers/landing", locals: { form_landing: false }

.page-container.focus-customer-story.u-padding-top-lg.u-padding-bottom-lg
  .container
    .row
      .col-md-5.u-padding-top-xs
        = image_tag "/images/case_study_logos/BI_Worldwide_case_study_logo.svg", class: "solution-logo", alt: "BI Worldwide logo", width: 230
        %h3 Increasing deployments to 10 times a day
        %p.customer-lead BI Worldwide Corporate Product Development Team removed technology barriers to focus on building microservices.
        .btn-group
          = link_to "Read More", "/customers/bi_worldwide/", class: "btn cta-btn orange margin-top20"

      .col-md-6.col-md-offset-1
        .annotated-image-container
          = image_tag "/images/customers/paessler-spot-image.jpg", class: "u-rounded", alt: "Gitlab BI Worldwide spot image jpg"
          .annotation.annotation--sw
            .annotation-content
              %strong 10x
              daily deploys

    .row.u-margin-top-lg
      .col-md-12
        %blockquote.customer-quote
          .quote-meta
            %cite.quote-attribution
              Adam Dehnel
              %span.quote-attribution-title Product Architect
          .quote-body
            %p.quote-text
              “One tool for SCM+CI/CD was a big initial win. Now wrapping security scans into that tool as well has already increased our visibility into security vulnerabilities. The integrated Docker registry has also been very helpful for us. Issue/Product management features let everyone operate in the same space regardless of role.”


= partial "includes/customers/customer-stories"

.customers-marketplace-background
  .flex-container
    .cta-container
      = image_tag "/images/icons/get-in-touch-icon.svg", class: "icon", alt: "Gitlab get in touch icon svg"
      %h4.margin-top20
        Case studies of GitLab customers sharing their accomplishments — in their own words
      = link_to "/customers/marketplace/", class: "btn cta-btn orange margin-top20" do
        Learn more
    .image-container{ style: "background: url('/images/customers/customers-marketplace.png') center center no-repeat" }

= partial "includes/customers/gallery"
