%div.table-responsive.compare-table
  %table.comparison-table.comparing-gitlab.products-page-comparison
    %colgroup
      %col{:width => "40%"}
      %col{:width => "20%"}
      %col{:width => "20%"}
      %col{:width => "20%"}
    %thead
      %tr
        %th.text-left.table-title
          FEATURES
        %th.text-center
          - if defined?(name_one) == nil
            = product_one.short_name
          - else
            = name_one
        %th.text-center
          - if defined?(name_two) == nil
            = product_two.short_name
          - else
            = name_two
        %th.text-center
          - if defined?(name_three) == nil
            = product_three.short_name
          - else
            = name_three
    -# logic notes:
      1. if it doesn't exist in the two previous features, then you don't need to check past that point.
      2. you don't have to check if something is in ultimate.
      3. highlight_features == true ... ? I think this is a red herring.
      4. gitlab_com_features: false (self-managed) vs true (saas)
    %tbody.header.first
      - data.features.features.each do |feature|
        -# FREE
        - if ((feature.public_send(key_one) == true && feature.link != nil && feature.feature_page == true && feature.public_send(key_two) != nil) && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              has a link
              && has a page
              && is in free
              && is in bronze
              && is in premium
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these first
            repeat until loop is done
      - data.features.features.each do |feature|
        -# Premium
        - if (feature.public_send(key_one) == false && feature.public_send(key_two) == true && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              is NOT in bronze
              && is in premium
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these next
            repeat until loop is done
      - data.features.features.each do |feature|
        -# Ultimate
        - if (feature.title == "Static Application Security Testing")
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
      - data.features.features.each do |feature|
        - if (feature.public_send(key_two) == false && feature.public_send(key_three) == true && !(feature.gitlab_com == false && gitlab_com_features == true))
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
          -#
            if
              is NOT in premium
              & is in ultimate
              && NOT (feature.gitlab_com == false && highlight_features == true)
            then show these next
            repeat until loop is done
