---
title: "GitLab Commit: You Belong Here - Public Sector"
description: "Discover how to create an environment that enables your global Public Sector and Regulated Industry workforce to innovate, survive, and succeed at speed."
canonical_path: "/events/commit/pubsec/"
image_title: '/images/opengraph/commit-opengraph-2.png'
layout: event-commit
suppress_header: false
extra_css:
  - faq.css
  - event-commit-2020.css
extra_js:
  - all-clickable.js
expiration_date: '2020-08-25T:15:00:00-0700'
scholarship_end_date: '2020-08-16T:15:00:00-0700'
nav_links:
  - title: 'Video'
    url: '#video'
  - title: 'Schedule'
    url: '#schedule'
  - title: 'Tracks'
    url: '#tracks'
  - title: 'Expect'
    url: '#expect'
  - title: 'Speakers'
    url: '#speakers'
  - title: 'Partners'
    url: '#partners'
  - title: 'Questions'
    url: '#questions'
---

-# These times will automatically update certain sections of content.
-# Dates should be specified using the ISO 8601 date format, YYYY-MM-DD
-# If including a time, YYYY-MM-DDT:HH:MM:SS-timezeone.
-# Example: 2010-02-01T:22:00:00-0700 (February 1st, 2010 @ 10PM Pacific).

- if current_page.data.expiration_date
  - expirationDate = Time.parse(current_page.data.expiration_date)
- else
  - expirationDate = Time.parse("2010-01-01")
- currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
- if (expirationDate > currentTime)
  - current_page.data.event_register_url = 'https://www.eventbrite.com/e/gitlab-commit-virtual-registration-105130995638?aff=pubsec'
  - current_page.data.header_primary_cta_text = 'Attend for free'
- else
  - current_page.data.event_register_url = 'https://gitlabcommitvirtual.com/'
  - current_page.data.header_primary_cta_text = 'Watch now'

#hero
  = partial "/includes/events/commit/2020/hero-pubsec"
#intro.flatbottom
  = partial "/includes/events/commit/2020/intro-register-pubsec"
#video.highlight-black.flattop
  = partial "/includes/events/commit/2020/video-highlight-keynote"
#schedule.highlight-gray
  = partial "/includes/events/commit/2020/schedule-pubsec"
#tracks.highlight-purple
  = partial "/includes/events/commit/2020/why-pubsec"
#expect
  = partial "/includes/events/commit/2020/past-events"
-##groundworks.highlight-gray
  = partial "/includes/events/commit/2020/sessions"
#speakers.highlight-purple
  = partial "/includes/events/commit/2020/speakers"
#partners.highlight-gray
  = partial "/includes/events/commit/2020/sponsor-cta"
#sponsor
  = partial "/includes/events/commit/2020/sponsors"
#questions.highlight-black.flatbottom
  = partial "/includes/events/commit/2020/contact-and-updates"
